streamlit>=1.41.0
pandas==2.1.0
crewai==1.10.1
python-dotenv>=1.1.1,<1.2
numpy==1.26.0
requests>=2.32.3,<3.0
graphh==0.1.2
groq                # Groq Python SDK to talk to Groq API
langchain           # Core LangChain framework
langchain-groq      # Integration layer for Groq in LangChain